.c-modal {
    &:before {
        background-color: rgba(0, 0, 0, 0.2);
        content: "";
        height: 100vh;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100vw;
    }
}

.c-modal__popup {
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    &--sm {
        max-width: 300px;
    }
}

.c-modal--with-animation {
    &:before {
        animation: fade-in .2s ease-out forwards;
    }

    .c-modal__popup {
        animation: slide-down .2s ease-out forwards;
    }
}

@error-image-width: 268px;
@error-image-height: 118px;

.c-modal--with-error .c-modal__popup__body {
    &:before {
        background-image: url("@{images}/error.png");
        content: "";
        display: block;
        height: @error-image-height;
        margin: 0 auto @space-sm;
        width: @error-image-width;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-50%);
    }
}

.c-modal__popup__header{
    padding: @space-sm;
}

.c-modal__popup__body {
    padding: 0 @space-sm @space-sm;
}

.c-modal__popup__footer {
    padding: 0 0 @space-sm;
    text-align: right;
}

.c-modal__button {
    background-color: transparent;
    border-radius: 2px;
    color: #488aff;
    cursor: pointer;
    margin: 0 @space-xs 0 0;
    overflow: hidden;
    padding: 12px;
    position: relative;
    text-align: right;
    text-transform: uppercase;

    &:active {
        background-color: rgba(158, 158, 158, 0.2);
    }
}
